
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<div class="jumbotron">
    <h2>Education</h2>
    <h3>School : </h3>
    <ul>
        <li>@ViewBag.SchoolName</li>
        <li>@ViewBag.SchoolPlace</li>
        <li>@ViewBag.SchoolPercentage</li>
    </ul>
    <h3>UnderGraduation: </h3>
    <ul>
        <li>@ViewBag.UgCollegeName</li>
        <li>@ViewBag.CollegePercentage</li>
        <li>@ViewBag.CollegeStream</li>
    </ul>
    <h3>PostGraduation: </h3>
    <ul>
        <li>@ViewBag.PgCollegeName</li>
        <li>@ViewBag.CollegePercentage</li>
        <li>@ViewBag.CollegeStream</li>
    </ul>
</div>

